@charset "UTF-8";

#main {
font-family: Georgia, serif;
font-size: 18px;
letter-spacing: 2.4px;
word-spacing: 2px;
color: #545454;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
margin-left: auto;
margin-right: auto;
width: 600px;
text-align: center;
padding:20px;

background: #EFEFEF;
background: -moz-linear-gradient(-45deg, #EFEFEF 0%, #FFFFFF 50%, #D8D8D8 100%);
background: -webkit-linear-gradient(-45deg, #EFEFEF 0%, #FFFFFF 50%, #D8D8D8 100%);
background: linear-gradient(135deg, #EFEFEF 0%, #FFFFFF 50%, #D8D8D8 100%);

-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

#all {
font-family: Georgia, serif;
font-size: 18px;
letter-spacing: 2.4px;
word-spacing: 2px;
color: #545454;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
margin-left: auto;
margin-right: auto;
width: auto;
text-align: center;
padding-left:20px;
padding-right:20px;

background: #EFEFEF;
background: -moz-linear-gradient(-45deg, #EFEFEF 0%, #FFFFFF 50%, #D8D8D8 100%);
background: -webkit-linear-gradient(-45deg, #EFEFEF 0%, #FFFFFF 50%, #D8D8D8 100%);
background: linear-gradient(135deg, #EFEFEF 0%, #FFFFFF 50%, #D8D8D8 100%);

-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}