select {
	width: 100%;
}

option {
	width: 100%;
}

input[type=text]{
	width: 100%;
}

table.greenTable {
  font-family: Tahoma, serif;
  border: 6px solid #EAEAEA;
  background-color: #F4F4F4;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #C5D5D6;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 13px;
}
table.greenTable tr:nth-child(even) {
  background: #DDE0E5;
}
table.greenTable thead {
  background: #221C51;
  background: -moz-linear-gradient(top, #59557c 0%, #383262 66%, #221C51 100%);
  background: -webkit-linear-gradient(top, #59557c 0%, #383262 66%, #221C51 100%);
  background: linear-gradient(to bottom, #59557c 0%, #383262 66%, #221C51 100%);
  border-bottom: 0px solid #444444;
}
table.greenTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #B3B4B4;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #F0F0F0;
  background: #021B69;
  background: -moz-linear-gradient(top, #41548e 0%, #1b3178 66%, #021B69 100%);
  background: -webkit-linear-gradient(top, #41548e 0%, #1b3178 66%, #021B69 100%);
  background: linear-gradient(to bottom, #41548e 0%, #1b3178 66%, #021B69 100%);
  border-top: 1px solid #121418;
}
table.greenTable tfoot td {
  font-size: 13px;
}

table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #0B58B8;
  color: #E8E8E8;
  padding: 2px 8px;
  border-radius: 5px;
}